.projects {
  .projectGrid {
    .project-row {
      display: flex;
      flex-direction: row;
    }
    .project {
      width: 33.33333%;
      max-width: 100%;
      padding-left: 0.66rem;
      padding-right: 0.66rem;
    }
  }
}
