.projects {
  .projectGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow: hidden;
    @media all and (max-width: 767px) {
      flex-direction: column;
    }
    .project {
      width: 33.3333%;
      @media all and (max-width: 767px) {
        width: 100%;
      }
      @media all and (max-width: 992px) {
        width: 50%;
      }
      height: 200px;
      max-width: 300px;
      transform: scale(1);
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.2);
      }
      .projectInner {
        padding: 35px;
        @media all and (max-width: 767px) {
          padding: 0;
        }
      }
    }
    // .project {
    //   width: 33.33333%;
    //   max-width: 100%;
    // }
  }
  // .collabs {
  // }
}
